* {
    width: auto;
    height: auto;
}

#container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#line-number {
    background-color: #111;
    color: #eee;
    padding-left: 2px;
    width: 100%;
    height: 100%;
    font-weight: bold;
}

#source-code {
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
}

#compile-button {
    
}